<template>
  <button class='btn' @click='handleClick'>
    <slot />
  </button>
</template>

<script>
export default {
  name: 'VButton',
  props: {
    click: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    handleClick (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style scoped>
.btn {
  user-select: none;
  border: none;
  outline: none;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.2em;
  height: 36px;
  color: #333;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
  font-size: 13px;
  &:hover {
    color: #fff;
    background: #333;
    border-color: #333;
  }
}
</style>