<template>
  <div class='card'>
    <slot name='header'>
      <header v-if='title' class='card-header'>{{ title }}</header>
    </slot>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'VCard',
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.card {
  border-bottom: none;
    background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 20px;
  .card-header {
  background: #f8f8f8;
    padding: 20px;
    margin: -20px;
    margin-bottom: 20px;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    font-weight: 500;
  }
}
</style>