<template>
  <div class="doc-component">
    <router-view />
  </div>
</template>

<script>
export default {
  beforeMount() {
    // this.$router.replace({path: '/components/button'})
  }
}
</script>

<style>
.doc-demo {
  padding: 2rem;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  + pre {
    padding: 2rem;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: 0;
    code {
      font-family: Monaco, Menlo, monospace;
      font-size: .9rem;
    }
  }
}
.doc-table {
  table {
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    th, td {
      text-align: left;
      padding: 1rem;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}
</style>
