<template>
  <div class='doc-sidebar'>
    <div
      v-for='nav in navs'
      :key='nav.name'
      class='group'
    >
      <router-link
        v-if='!nav.unlinked'
        :to='nav.path'
        class='title'
      >
        {{ nav.name }}
      </router-link>
      <h3
        v-else
        class='title'
      >
        {{ nav.name }}
      </h3>

      <nav
        v-if='nav.children'
        class='nav'
      >
        <router-link
          v-for='item in nav.children'
          :key='item.name'
          :to='`${nav.path}/${item.path}`'
          class='link'
        >
          {{ item.name }}
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    navs () {
      return this.$router.options.routes
    }
  }
}
</script>

<style scoped>
@define-mixin link {
  text-decoration: none;
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
  }
  &.router-link-exact-active {
    &:after {
      background: #333;
    }
  }
}
.doc-sidebar {
  min-width: 260px;
  .group {
    margin-bottom: 20px;
    .title {
      font-weight: bold;
      font-size: 1.2em;
      @mixin link;
    }
  }
  .nav {
    display: flex;
    flex-flow: column;
    .link {
      display: inline-flex;
      margin-bottom: 10px;
      padding: 5px 0;
      @mixin link;
    }
  }
}
</style>