<template>
  <div class='doc-container'>
    <Sidebar />
    <Main>
      <router-view />
    </Main>
  </div>
</template>

<script>
import Sidebar from './components/Sidebar'
import Main from './components/Main'

export default {
  components: {
    Sidebar,
    Main
  }
}
</script>

<style>
@import 'normalize.css';

body {
  font-family: Avenir Next, Helvetica, sans-serif;
}

a {
  color: #333;  
}

.doc-container {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
}
</style>